/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Navigation Buttons */
.navigation {
    margin-bottom: 20px;
}

.nav-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #8800ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #3f00b3;
}

/* Form Styling */

form input {
    box-sizing: border-box;
}

form input, form select, form button {
    padding: 0.75em 0 0.75em 0.75em;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #42f805;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #3ddb5f;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

/* Hidden Sections */
.hidden {
    display: none;
}
